[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
pyautogui = "*"
requests = "*"
flask-wtf = "*"
pypdf2 = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
